<!--
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
-->
<suite name="Automation tests" parallel="methods" thread-count="2">
    <listeners>
        <listener class-name="CustomTestListener" />
    </listeners>

    <test name="Parallel Tests">
        <classes>
            <class name="TestNespresso"/>
        </classes>
    </test>
</suite>